html,
body {
  height: 100%;
}

body {
  display: flex;
  /* align-items: flex-start, stretch, flex-end, center    */
  align-items: stretch;
}
div {
  width: 200px;
  height: 200px;
  background-color: tomato;
}
#second {
  background-color: seagreen;
}
